/* Will be compiled down to a single stylesheet with your sass files */
@-webkit-keyframes showDependencyDialog {
  /* line 4, main.scss */
  0% {
    opacity: 0;
  }

  /* line 5, main.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showProperteisBox {
  /* line 9, main.scss */
  0% {
    opacity: 0;
  }

  /* line 10, main.scss */
  100% {
    opacity: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/app\/styles\/main\.scss}line{font-family:\0000313}}
div.dependency-dialog input.gwt-TextBox.textbox {
  -webkit-animation: showDependencyDialog 0.001s 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/app\/styles\/main\.scss}line{font-family:\0000317}}
div.properties-box {
  -webkit-animation: showProperteisBox 0.001s 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/app\/styles\/main\.scss}line{font-family:\0000321}}
.ui-autocomplete {
  z-index: 9999 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/app\/styles\/main\.scss}line{font-family:\0000325}}
.ui-scrollfix {
  position: fixed;
}
