@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/src\/main\/sass\/options\.scss}line{font-family:\000033}}
.ui-scrollfix {
  position: fixed;
  top: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/src\/main\/sass\/options\.scss}line{font-family:\000038}}
.library-list {
  padding-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/src\/main\/sass\/options\.scss}line{font-family:\0000313}}
.notify {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999;
  -webkit-transition: top 0.5s ease-out, opacity 0.5s ease-out;
  -webkit-transition-delay: 0s, 3s;
  -moz-transition: top 0.5s ease-out, opacity 0.5s ease-out 3s;
  -o-transition: top 0.5s ease-out, opacity 0.5s ease-out 3s;
  transition: top 0.5s ease-out, opacity 0.5s ease-out 3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/src\/main\/sass\/options\.scss}line{font-family:\0000321}}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/src\/main\/sass\/options\.scss}line{font-family:\0000326}}
.export-mode.on {
  display: table-cell;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/src\/main\/sass\/options\.scss}line{font-family:\0000330}}
.export-mode.off {
  display: none;
  visibility: hidden;
}
