@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/app\/styles\/options\.scss}line{font-family:\000031}}
.ui-scrollfix {
  position: fixed;
  top: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tominaga\/git\/gas-library-box\/app\/styles\/options\.scss}line{font-family:\000036}}
.library-list {
  padding-right: 5px;
}
