.pull-right
    a(ui-sref='mine()') Back to list
form.form-horizontal(name="addLibraryForm")
  fieldset 
    legend Add New Library {{addLibraryForm | json}} {{addLibraryForm.libraryKey.$invalid}}
    .control-group(ng-class='{error : addLibraryForm.libraryKey.$invalid && addLibraryForm.libraryKey.$dirty}') 
      label.control-label(for="libraryKey") Key
      .controls
        .input-append
          input.input-xxlarge#libraryKey(type="text", placeholder="Input Google Apps Script Project Key or Google Drive's File ID", ng-maxlength='200', maxlength='200',ng-model="libraryKey",name="libraryKey",required='required', ui-validate="{exist : 'isNotLibraryExist($value)' }")
          button.btn
            i.icon-search 
        p.help-block Input Google Apps Script Project Key or Google Drive's File ID
        p.help-block(ng-show='addLibraryForm.libraryKey.$error.required && addLibraryForm.libraryKey.$dirty') {{i18n("errorsRequired")}}
        p.help-block(ng-show='addLibraryForm.libraryKey.$error.exist && addLibraryForm.libraryKey.$dirty') This library is already exist.


    .control-group(ng-class='{error : addLibraryForm.label.$invalid && addLibraryForm.label.$dirty}')
      label.control-label(for='label') {{i18n("name")}}
      .controls
        input.span12#label(type='text', placeholder='Write library name', ng-maxlength='100', maxlength='100', name='label', ng-model='label', required='required')
        p.help-block(ng-show='addLibraryForm.label.$error.required && addLibraryForm.label.$dirty') {{i18n("errorsRequired")}}

    .control-group(ng-class='{error : addLibraryForm.sourceUrl.$invalid && addLibraryForm.sourceUrl.$dirty}')
      label.control-label(for='sourceUrl') Source URL
      .controls
        input.span12#label(type='text', placeholder='Write library source URL', ng-maxlength='300', maxlength='300', name='sourceUrl', ng-model='sourceUrl', required='required')
        p.help-block(ng-show='addLibraryForm.sourceUrl.$error.required && addLibraryForm.sourceUrl.$dirty') {{i18n("errorsRequired")}}

    .control-group(ng-class='{error : addLibraryForm.desc.$invalid && addLibraryForm.desc.$dirty}')
      label.control-label(for='desc') {{i18n("description")}}
      .controls
        input.span12#desc(type='text', ng-maxlength='80', maxlength='80', name='desc', ng-model='desc', placeholder="Write this library short description, it\'s shown in script editor.")
    .control-group(ng-class='{error : addLibraryForm.longDesc.$invalid && addLibraryForm.longDesc.$dirty}')
      .row-fluid
        .span6
          label.control-label(for='longDesc') {{i18n("longDescription")}}
        .span6
          label.control-label(for='longDesc') Preview
        .controls
          span.help-inline You can write this as markdwon format.
          .row-fluid
            .span6
              textarea.span12#longDesc(rows='5', name='longDesc', ng-model='longDesc', ng-maxlength='2000')
            .span6(ng-bind-html='longDesc | markdown')
      .form-actions
        button.btn.btn-primary(ng-disabled='addLibraryForm.$invalid || saving', ng-click='addLibrary()') {{i18n("saveButton")}}
        button.btn {{i18n("cancel")}}
