.row-fluid
    .span12
        div(ng-hide='loaded')
          i.icon-spinner.icon-spin
          | Now loading your account infomation...
        form.form-horizontal(name='modifyForm', ng-show='loaded')
          legend Modify your account
          .control-group(ng-class='{error : !modifyForm.name.$valid}')
            label.control-label(for='name') Nickname
            .controls
              input#name(type='text', name='name', ng-model='nickname', placeholder='Set your account name', required='required', max-length='50', ng-trim='true')
              span.help-inline(ng-show='modifyForm.name.$error.required') {{i18n("errorsRequired")}}
          .control-group
            label.control-label(for='useIcon') Profile Icon
            .controls
              .media
                .pull-left
                  img.media-object(ng-show='modifyForm', ng-src='{{userIconUrl}}')
                .media-body
                  label.radio.inline(for='useIcon', ng-init='useIcon = \'use\'')
                    input#useIcon(type='radio', ng-model='useIcon', name='useIcon', value='use', checked='checked')
                    | Use Google+ Icon
                  label.radio.inline(for='notUsing')
                    input#notUsing(type='radio', ng-model='useIcon', ng-value='', name='useIcon', value='not')
                    | Not set it.
          .form-actions
            button.btn.btn-primary(ng-disabled='!modifyForm.$valid || processing', ng-click='processing = true;modify()') Modify Account
            button.btn(type='cancel') Cancel
