
<h1 class="page-header">{{i18n("myLibraryList")}}</h1>
<div class="row-fluid">
  <div class="span3">
    <div ui-scrollfix="90">
      <ul style="width: 268px;" class="nav nav-list well well-small">
        <li class="nav-header">List</li>
        <li>
          <form class="form-search">
            <div class="input-append">
              <input accesskey="f" type="search" ng-model="search.$" placeholder="{{i18n('search')}}" class="search-query"/>
              <button tooltip="Search from global site" ng-click="query()" class="btn"><i class="icon-search"></i></button>
            </div>
          </form>
        </li>
        <li class="divider"></li>
        <li ng-if="filtered.length === 0" class="muted">There is no library.</li>
        <li ng-repeat="i in filtered track by $index"><a ng-if="$state.is('global')" smooth-scroll="{{'#' + i.libraryKey}}" scroll-easing="easeInOutBack" scroll-duration="slow" scroll-offset="-30">{{i.label}}</a><a ng-if="$state.is('global.detail')" ng-href="#/global/detail/{{i.libraryKey}}">{{i.label}}</a></li>
        <li>
          <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="maxSize" data-previous-text="«" data-next-text="»" class="pagination-small"></pagination>
        </li>
        <li ng-if="next"><a ng-click="showMore()">Show more library</a></li>
      </ul>
    </div>
  </div>
  <div ng-if="$state.is('global.detail')" ui-view="ui-view" class="span9 library-list"></div>
  <div ng-if="$state.is('global')" class="span9 library-list">
    <div ng-repeat="item in filtered track by $index" ng-controller="GlobalLibraryCtrl" class="row-fluid">
      <div id="{{item.libraryKey}}" class="span12">
        <h2 class="page-header"><a href="#/global/detail/{{item.libraryKey}}">{{item.label}}</a></h2>
        <div ng-show="!modify">
          <div class="pull-right">
            <div>{{i18n("registeredAt")}} : {{item.registeredAt | date}}</div>
            <div>{{i18n("modifiedAt")}} : {{item.modifiedAt | date}}</div>
          </div>
          <div ng-show="item.desc" ng-bind-html="item.desc | escape | break2br"></div>
          <div ng-hide="item.desc" class="clearfix">(No description)</div>
          <hr/>
          <div class="btn-group"><a href="{{item.sourceUrl}}" target="_blank" class="btn btn-link"><i class="icon-external-link"></i>{{i18n("viewSource")}}</a>
            <button ng-if="!item.isMyLibrary &amp;&amp; !item.isStocked" class="btn btn-link"><i class="icon-pushpin"></i>Stock library</button>
            <button ng-if="!item.isMyLibrary &amp;&amp; item.isStocked" class="btn btn-link"><i class="icon-pushpin"></i>UnStock library</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>