
<h1 class="page-header">{{i18n("myLibraryList")}}</h1>
<div class="row-fluid">
  <div ng-if="$state.is('mine.detail')" class="span3">
    <div ui-scrollfix="110">
      <ul style="width: 268px;" class="nav nav-list well well-small">
        <li class="nav-header">List</li>
        <li>
          <input accesskey="f" type="search" ng-model="search.$" placeholder="{{i18n('search')}}" class="search-query"/>
        </li>
        <li class="divider"></li>
        <li ng-if="filtered.length === 0" class="muted">There is no library.</li>
        <li ng-repeat="i in filtered track by $index" ng-class="{active : $state.params.key == i.key}"><a ng-href="#/mine/detail/{{i.key}}">{{i.label}}</a></li>
        <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="maxSize" data-previous-text="«" data-next-text="»" class="pagination-small"></pagination>
      </ul>
    </div>
  </div>
  <div ng-if="$state.is('mine.detail')" ui-view="mine" class="span9 library-list"></div>
  <div ng-if="$state.is('mine')" class="span12 library-list">
    <div class="well well-small">
      <div class="pull-left">Search: 
        <input type="search" ng-model="search.$" placeholder="{{i18n('search')}}" class="search-query"/>
      </div>
      <div ng-if="gapiLoaded" class="pull-right">
        <div class="btn-group pull-right">
          <button tabindex="-1" ng-disabled="uploading" ng-click="uploadLibraries()" class="btn btn-link">Export My Libraries</button>
          <button tabindex="-1" ng-click="isCollapsed = !isCollapsed" class="btn btn-link">Import My Libraries</button>
        </div>
        <div class="clearfix"></div>
        <div collapse="isCollapsed">
          <div class="well well-large">
            <form name="importForm" class="form-inline">
              <input tabindex="-1" type="text" name="fileId" placeholder="input library file key of Google Drive" ng-model="fileId" required="required" class="input-xlarge"/>
              <button tabindex="-1" ng-click="import(fileId)" class="btn">Import</button>
            </form>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{i18n("name")}}</th>
              <th>{{i18n("description")}}</th>
              <th>{{i18n("registeredAt")}} / {{i18n("modifiedAt")}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="filtered.length === 0">
              <td colspan="3">There is no library.</td>
            </tr>
            <tr ng-repeat="item in filtered track by $index" ng-controller="PrivateLibraryCtrl" ng-click="$state.go('mine.detail', {key : item.key})">
              <td><a ui-sref="mine.detail({key : item.key})">{{item.label}}</a></td>
              <td ng-bind-html="item.desc | escape | break2br"> </td>
              <td>{{item.registeredAt | date}} / {{item.modifiedAt | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>