
<h1 class="page-header">{{i18n("myLibraryList")}}</h1>
<div class="row-fluid">
  <div ng-if="$state.is('mine.detail')" class="span3">
    <div ui-scrollfix="110">
      <ul style="width: 268px;" class="nav nav-list well well-small">
        <li class="nav-header">List</li>
        <li>
          <input accesskey="f" type="search" ng-model="search.$" placeholder="{{i18n('search')}}" analytics-on="focus" analytics-category="search" analytics-event="focusSearchBox" analytics-label="{{$state.current.name}}" class="search-query"/>
        </li>
        <li class="divider"></li>
        <li ng-if="filtered.length === 0" class="muted">There is no library.</li>
        <li ng-repeat="i in filtered track by $index" ng-class="{active : $state.params.key == i.key}"><a ng-href="#/mine/detail/{{i.key}}">{{i.label}}</a></li>
        <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="maxSize" data-previous-text="«" data-next-text="»" class="pagination-small"></pagination>
      </ul>
    </div>
  </div>
  <div ng-if="$state.is('mine.detail')" ui-view="mine" class="span9 library-list"></div>
  <div ng-if="$state.is('mine.add')" ui-view="mine" class="span12 library-list"></div>
  <div ng-if="$state.is(&quot;mine&quot;)" class="span12 library-list">
    <div ng-intro-method="help" ng-intro-options="options" class="well well-small">
      <div data-intro="Search your libraries. Please input any charactor" data-step="1" class="pull-left">Search: 
        <input type="search" ng-model="search.$" placeholder="{{i18n('search')}}" analytics-on="focus" analytics-category="search" analytics-event="focusSearchBox" analytics-label="{{$state.current.name}}" class="search-query"/>
      </div>
      <div class="pull-right">
        <div class="btn-group pull-right"><a ui-sref="mine.add()" data-intro="Add new library to GLB manualy." data-step="2" tabindex="-1" class="btn btn-link"><i class="icon-plus-sign-alt"> </i>Add Library</a>
          <button ng-if="gapiLoaded" data-intro="Backup library-list metadata to Google Drive. You can export libraries added to library box as json." data-step="3" tabindex="-1" ng-disabled="uploading" ng-click="uploadLibraries()" analytics-on="click" analytics-category="backup" analytics-event="clickBackup" analytics-label="{{$state.current.name}}" class="btn btn-link"> <i class="icon-cloud-upload"> </i>Backup</button>
          <button ng-if="gapiLoaded" data-intro="Restore library-list metadata from Google Drive. You can import libraries from json." data-step="4" data-position="left" tabindex="-1" analytics-on="click" analytics-category="restore" analytics-event="clickRestore" analytics-label="{{$state.current.name}}" ng-click="$parent.isCollapsed = !$parent.isCollapsed" class="btn btn-link"> <i class="icon-cloud-download"> </i>Restore</button>
          <button ng-click="help()" analytics-on="click" analytics-category="help" analytics-event="showHelp" analytics-label="{{$state.current.name}}" class="btn btn-link"><i class="icon-question-sign"></i></button>
        </div>
        <div class="clearfix"></div>
        <div collapse="isCollapsed">
          <form name="importForm" class="form-inline">
            <input tabindex="-1" type="text" name="fileId" placeholder="input library file key of Google Drive" ng-model="fileId" required="required" class="input-xlarge"/>
            <button tabindex="-1" ng-click="import(fileId)" ng-disabled="importing" class="btn">Restore</button>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row-fluid">
      <div data-intro="The Library List, You can see detail if clicking." data-step="5" data-position="top" class="span12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{i18n("name")}}</th>
              <th>{{i18n("description")}}</th>
              <th>{{i18n("registeredAt")}} / {{i18n("modifiedAt")}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="filtered.length === 0">
              <td colspan="3">There is no library.</td>
            </tr>
            <tr ng-repeat="item in filtered track by $index" ng-controller="PrivateLibraryCtrl" ng-click="$state.go('mine.detail', {key : item.key})">
              <td><a ui-sref="mine.detail({key : item.key})" analytics-on="click" analytics-category="viewDetailLink" analytics-event="viewDetailLink" analytics-label="{{$state.current.name}}">{{item.label}}</a></td>
              <td ng-bind-html="item.desc | escape | break2br"> </td>
              <td>{{item.registeredAt | date}} / {{item.modifiedAt | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>