
<div class="row-fluid">
  <div class="span12">
    <div ng-hide="loaded"><i class="icon-spinner icon-spin"></i>Now loading your account infomation from google+...</div>
    <form name="registerForm" ng-show="loaded" class="form-horizontal">
      <legend>Register your account</legend>
      <div ng-class="{error : !registerForm.name.$valid}" class="control-group">
        <label for="name" class="control-label">Nickname</label>
        <div class="controls">
          <input id="name" type="text" name="name" ng-model="nickname" placeholder="Set your account name" required="required" max-length="50" ng-trim="true"/><span ng-show="registerForm.name.$error.required" class="help-inline">{{i18n("errorsRequired")}}</span>
        </div>
      </div>
      <div class="control-group">
        <label for="useIcon" class="control-label">Profile Icon</label>
        <div class="controls">
          <div class="media">
            <div class="pull-left"><img ng-show="registerForm" ng-src="{{userIconUrl}}" class="media-object"/></div>
            <div class="media-body">
              <label for="useIcon" ng-init="useIcon = 'use'" class="radio inline">
                <input id="useIcon" type="radio" ng-model="useIcon" name="useIcon" value="use" checked="checked"/>Use Google+ Icon
              </label>
              <label for="notUsing" class="radio inline">
                <input id="notUsing" type="radio" ng-model="useIcon" ng-value="" name="useIcon" value="not"/>Not set it.
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button ng-disabled="!registerForm.$valid || processing" ng-click="register()" class="btn btn-primary">Register Account</button>
        <button type="cancel" class="btn">Cancel</button>
      </div>
    </form>
  </div>
</div>