<div class="row-fluid">
  <div class="span12">
    <div ng-hide="loaded">
      <i class="icon-spinner icon-spin"></i> Now loading your account infomation from google+...
    </div>
    <form name="registerForm" class="form-horizontal" ng-show="loaded">
      <legend id="">Register your account</legend>
      <div class="control-group" ng-class="{error : !registerForm.name.$valid}">
        <label for="name" class="control-label">Nickname</label>
        <div class="controls">
          <input id="name" type="text" name="name" ng-model="nickname" placeholder="Set your account name" required max-length="50" ng-trim="true">
          <span class="help-inline" ng-show="registerForm.name.$error.required">{{i18n("errorsRequired")}}</span>
        </div>
      </div>
      <div class="control-group">
        <label for="useIcon" class="control-label">Profile Icon</label>
        <div class="controls">
          <div class="media">
            <div class="pull-left">
              <img class="media-object" ng-show="useIcon == 'use'" ng-src="{{userIconUrl}}" ng-show="registerForm">
            </div>
            <div class="media-body">
              <label for="useIcon" class="radio inline" ng-init="useIcon = 'use'">
                <input type="radio" id="useIcon" ng-model="useIcon" name="useIcon" value="use" checked>Use Google+ Icon</input>
              </label>
              <label for="notUsing" class="radio inline">
                <input type="radio" id="notUsing" ng-model="useIcon" ng-value="" name="useIcon" value="not">Not set it.</input>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary" ng-disabled="!registerForm.$valid" ng-click="register()">Register Account</button>
        <button class="btn" type="cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>