<div class="row-fluid">
  <div class="span12">
    <form action="" class="form-horizontal">
      <legend id="">Register account</legend>
      <div class="control-group">
        <label for="name" class="control-label">Nickname</label>
        <div class="controls"><input id="name" type="text" placeholder=""></div>
      </div>
      <div class="control-group">
        <label for="" class="control-label"></label>
        <div class="controls">
          <label for="" class="radio inline">
            <input type="radio" id="">hoge</input>
          </label>
          <label for="" class="radio inline">
            <input type="radio" id="">hoge</input>
          </label>
        </div>
      </div>
      <div class="control-group">
        <label for="" class="control-label"></label>
        <div class="controls"><input type="text"></div>
      </div>
    </form>
  </div>
</div>